In [1]:
#DEFINE the function "say_hello" so it prints "Hello!" when called
def say_hello():
    print("Hello!")
#CALL the function 
say_hello()

Hello!

In [2]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"
print(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [3]:
def say_hello():
    print("Hello!")
#CALL the function 
say_hello()

Hello!

In [4]:
#Define a function that calculates the percentage of students that passed both 
# math and reading and prints the passing percentage to the output when the
#function is called

def passing_math_percentage(pass_math_count,student_count):
    return pass_math_count / float(student_count) * 100
passing_math_percentage(22000, 45000)

48.888888888888886

In [5]:
#Call the function
passing_math_count = 29370
total_student_count = 39170

passing_math_percentage(passing_math_count, total_student_count)

74.9808526933878

In [6]:
# A list of my grades
my_grades = ['B', 'C', 'B', 'D']

#Import Pandas
import pandas as pd
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [7]:
# Map function. Change one value to another value. (Like CASE in SQL)
#map("current_value_1" : "new_value_1", "current_value_2" : "new_value_2")

my_grades.map({'B': 'A', 'C': 'B', 'D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [8]:
#unsing the format() function
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [12]:
#convert the numerical grades to a Series
my_grades = pd.Series([92.34, 84.56,86.78,78.32])
my_grades
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object