In [27]:
#Add the Pandas dependency
import pandas as pd

In [28]:
# List of high schools
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School",
                "Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", 
                "Pena High School","Wright High School","Rodriguez High School", "Johnson High School", 
                "Ford High School", "Thomas High School"]

In [29]:
#iterate through high schools 
for school in high_schools: 
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [30]:
#a dictionary of high schools and the type of school
high_school_types = [{"High School" : "Griffin", "Type" : "District"},
                     {"High School" : "Figueroa", "Type" : "District"},
                     {"High School" : "Wilson", "Type:" : "Charter"}, 
                     {"High School" : "Wright", "Type" : "Charter"}]

In [31]:
#iterate through dictionary of high schools 
for types in high_school_types:
    print(types)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type:': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [33]:
#Create a Pandas Series from a list (there will be no output)
school_series = pd.Series(high_schools)
#call the variable school_series
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [36]:
#interate through school series
for series in school_series:
    print(series)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [38]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [39]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [43]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [44]:
#initialize a new DataFrame it is blank
schools_df = pd.DataFrame()

In [46]:
# Add list to a new DataFrame
#name of dataframe [columnname in new dataframe] = list variable name
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type of School"] = type_of_school
#Print the dataframe
schools_df

   School ID            School Name Type of School
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [55]:
#Create python dictionary from the lists 
high_schools_dict = {'School ID':school_id, 'school_name' : school_name, 'type' : type_of_school}
schools_dict_df = pd.DataFrame(high_schools_dict)
schools_dict_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [15]:
#define the list for data 
school_id = [0,1,2,3,4,5,6,7,8,9,10,11,12]
school_name = ["Huang High School","Figueroa High School", "Shelton High School", "Hernandex High School", 
            "Griffin High School", "wilson High School","Cabrera High School","Bailey High School", "Holden High School",
            "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School"]
    
school_type = ["District", "District","Charter", "District","Charter", "Charter", "Charter", "District", "Charter", 
               "Charter", "Charter","District","District"]
#create dictionary for schools
schools_dict = {'School ID':school_id, 'School Name' : school_name, 'Type' : school_type}
#create dataframe
school_df = pd.DataFrame(schools_dict)
school_df

    School ID            School Name      Type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandex High School  District
4           4    Griffin High School   Charter
5           5     wilson High School   Charter
6           6    Cabrera High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodriguez High School  District
12         12    Johnson High School  District

In [63]:
import pandas as pd
#read csv file and create a dataframe with the data
df = pd.read_csv (r'C:\Users\szieg\Repositories\School_District_Analysis\Resources\schools_complete.csv')
print (df)

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130